<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>New Scheduled Task</title>
</head>
<body>
<div class="container">
    <div>
        <h3>Website Availability Scheduled Checker</h3>
        <hr>

        <p class="h4 mb-4">you will receive an email when the site status is updated</p>
        <form action="#" th:action="@{/start-task}" th:object="${task}" method="post">

            <label for="site">Your site:</label> <input id="site" type="text" th:field="*{site}"
                                                        class="form-control mb-4 col-4"
                                                        placeholder="site">
            <label for="time">How often to check(minutes):</label> <input id="time" type="text"
                                                                          th:field="*{refreshTime}"
                                                                          class="form-control mb-4 col-4"
                                                                          placeholder="minutes">
            <label for="email">Your email:</label> <input id="email" type="text" th:field="*{email}"
                                                          class="form-control mb-4 col-4"
                                                          placeholder="email">

            <input type="submit" class="btn btn-info col-2" value="Start">
        </form>
    </div>
</div>
</body>
</html>
